In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# %% Load data
df_vacci= pd.read_csv('C:/Users/sophi/OneDrive/Desktop/228/project/covid_data/vaccination/us_state_vaccinations.csv')
df_popu= pd.read_csv('C:/Users/sophi/OneDrive/Desktop/228/project/covid_data/us_county.csv')
df_covid= pd.read_csv('C:/Users/sophi/OneDrive/Desktop/228/project/covid_data/covid_us_county.csv')

In [12]:
df_covid.head()

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0

In [5]:
# %% Check missing values in vacci file
missing = df_vacci.isna().sum().apply(lambda x: x/df_vacci.shape[0] * 100)
print(missing[missing > 0].sort_values(ascending = False))

people_fully_vaccinated_per_hundred    10.039644
people_vaccinated_per_hundred           9.653504
distributed_per_hundred                 9.596870
total_vaccinations_per_hundred          9.529939
daily_vaccinations_per_million          6.435669
daily_vaccinations_raw                  6.281213
people_fully_vaccinated                 5.405962
people_vaccinated                       4.994079
total_distributed                       4.937445
share_doses_used                        4.937445
total_vaccinations                      3.634866
daily_vaccinations                      0.334655
dtype: float64

In [6]:
# %% Check missing values in population file
missing = df_popu.isna().sum().apply(lambda x: x/df_popu.shape[0] * 100)
print(missing[missing > 0].sort_values(ascending = False))

state_code    2.453416
dtype: float64

In [7]:
# %% Check missing values in covid file
missing = df_covid.isna().sum().apply(lambda x: x/df_covid.shape[0] * 100)
print(missing[missing > 0].sort_values(ascending = False))

state_code    2.663076
fips          0.299222
county        0.179533
dtype: float64

In [9]:
##restructure df with selected features
df_vacci_new = df_vacci.loc[:,["date","location","total_vaccinations"]]
df_vacci_new = df_vacci_new.dropna(axis=0)
df_vacci_new.head()

         date location  total_vaccinations
0  2021-01-12  Alabama             78134.0
1  2021-01-13  Alabama             84040.0
2  2021-01-14  Alabama             92300.0
3  2021-01-15  Alabama            100567.0
7  2021-01-19  Alabama            130795.0

In [11]:
df_popu_new = df_popu.loc[:,["county","state","population","median_age"]]
df_popu_new = df_popu_new.dropna(axis=0)
df_popu_new.head()

           county    state  population  median_age
0  Autauga County  Alabama       55200        37.8
1  Baldwin County  Alabama      208107        42.8
2  Barbour County  Alabama       25782        39.9
3     Bibb County  Alabama       22527        39.9
4   Blount County  Alabama       57645        40.8

In [13]:
df_covid_new = df_covid.loc[:,["date","county","state","deaths","cases"]]
df_covid_new = df_covid_new.dropna(axis=0)
df_covid_new.head()

         date   county    state  deaths  cases
0  2020-01-22  Autauga  Alabama       0      0
1  2020-01-23  Autauga  Alabama       0      0
2  2020-01-24  Autauga  Alabama       0      0
3  2020-01-25  Autauga  Alabama       0      0
4  2020-01-26  Autauga  Alabama       0      0

In [14]:
df_covid_new.to_csv('C:/Users/sophi/OneDrive/Desktop/228/project/covid_data/covidnew.csv',index=False)
df_popu_new.to_csv('C:/Users/sophi/OneDrive/Desktop/228/project/covid_data/popunew.csv',index=False)
df_vacci_new.to_csv('C:/Users/sophi/OneDrive/Desktop/228/project/covid_data/vaccinew.csv',index=False)